header{
    width: 100%;
    height: 400px;
}
header .aboutBan{
    width: 100%;
    height: 100%;
    background: url("../img/banner5.jpg");
}
.des{
    width:1000px;
    color: rgb(153, 153, 153);
    font-size: 14px;
    text-align: center;
    white-space: pre-wrap;
    margin: 20px auto;
    line-height: 40px;
}
.dianPu{
    width: 1200px;
    height: 275px;
    margin:100px auto;
    display: flex;
    justify-content: space-between;
}
.about-con{
    width: 100%;
    height: 780px;
    background:#E1E1E1 ;
    padding-top: 10px;
    box-sizing: border-box;
}
.about-con .about-dessert{
  margin-top: 20px;
}
.team{
    width: 1200px;
    height: auto;
    margin: 200px auto 100px;
    display: flex;;
    justify-content: space-between;
}
.team .peson{
    width: 274px;
    height: 342px;
    /*background: #FFFFFF;*/
    border: 1px solid #bfbfbf;
    position: relative;
    padding: 10px 20px;
    box-sizing: border-box;
    /*overflow: hidden;*/
}
.team .peson img{
    position: absolute;
    top:-100px;
    left:30px;
}
.team .peson span{
    color: rgb(102, 102, 102);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    display: block;
    margin-top: 140px;
}
.team .peson p{
    color: rgb(168, 167, 167);
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}
